service rsync
{
        disable = no
        socket_type     = stream
        wait            = no
        user            = root
{% if is_ionice %}
        server          = /usr/bin/ionice
        server_args     =  -c 3 /usr/bin/rsync --daemon
{% else %}
        server          = /usr/bin/rsync
        server_args     = --daemon
{% endif %}
        log_on_failure  += USERID
}

